// 小廣告輪播
<<<<<<< HEAD
.adBanners{
  padding: 30px 0;
  .links{
    margin: 0 auto; width: calc(100% - 128px);
    .banner{
      margin: 5px;
      a{
        display: block; width: 100%;
        &:hover, &:focus{ box-shadow: $linkColor 0 0 0 2px;}
      }
      img{height: 60px; width: 100%; object-fit: contain;}
=======
.adBanners {
    padding: 30px 0;
    .links {
        margin: 0 auto;
        width: calc(100% - 128px);
        .banner {
            margin: 5px;
            a {
                display: block;
                width: 100%;
                &:focus {
                    box-shadow: 0 0px 0px 3px #004180 inset;
                }
            }
            img {
                height: 60px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .slick-arrow {
        &.slick-prev {
            left: -60px;
        }
        &.slick-next {
            right: -60px;
        }
    }
    @media screen and (min-width: $wwMedium) {
        width: 90%;
        margin: 10px auto;
>>>>>>> 3f63066c7de50dedda6f326ac130a48e781bd92f
    }
}