// 頁腳
.webFooter {
	position: relative;margin: 0 auto;padding: 0;
	.fatFootCtrl, .fatFooter {display: none;}
	//////////////////////////////////////////////////////////////////
	.base {
		padding: 50px 3% 30px;
		border-top: 1px solid $white;
		text-align: center;font-size: .87rem;line-height: 1.6;
	}
	.leftblock {
		margin-bottom: 30px;
		.logo {
			width: auto; margin: 0 auto 20px;
			img{ display: block; width: 100%;max-width: 250px; margin: 0 auto;}
		}
		// 聯絡資訊
		.contactInfo {
			margin: 1em auto 0;
			&>span {display: block;margin-top: .5em;}
		}
		// 更新日期 與 瀏覽次數
		.update {
			display: block;margin: 1em auto;
			span {
				display: inline-block;color: $fontColorLight;
				&+span {margin-left: .5em;}
				em {display: inline-block;color: $assistant;font-style: normal;font-weight: bold;}
			}
		}
	}
	.rightblock {
		.qrcode_block {
			&>span {
				display: inline-block;margin-right: 10px;
				a {
					display: block; transition: .2s;
					&:hover{box-shadow: $black 0 0 0 1px;}
					&:focus{box-shadow: $black 0 0 0 3px;}
					img {display: block;width: 120px;}
				}
			}
		}
		// 無障礙標章
		.aaBadge {display: none;}
	}
	// 宣告連結
	.declaration {
		margin: 1.5em auto 0;padding: 1em 0 0;flex: 0 0 auto;flex-basis: 100%;order: 3;
		text-align: center;border-top: 1px solid $borderColor;
		ul {
			list-style: none;line-height: 1.1;margin: 4px 0 0;padding: 0;
		}
		li {
			display: inline-block;position: relative;margin: .5em 0;padding: 0 .7em 3px 0;
			&+li {
				margin-left: .5em;
			}
			&::after {
				content: '';position: absolute;right: 0;top: .1em;width: 1px;height: 1em;
				background-color: $fontColor;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
			a {
				display: block;padding: 0 0 1px;
				text-decoration: none;color: $fontColor;box-shadow: $borderColor 0 1px 0;
				&:hover,
				&:focus {
					box-shadow: $fontColor 0 2px 0;
				}
			}
		}
	}

	@media screen and (min-width: $wwMedium){
		.leftblock{
			text-align: left;
			.logo{
				float: left; margin-right: 15px;
			}
		}
	}

	@media screen and (min-width: $wwNormal) {
		// fatFooter 開關
		.fatFootCtrl {
			display: block;position: absolute;top: 53px;right: -24px;height: 25px;margin: 0;padding: 0 4px 0 60px;
			background-color: transparent;color: $black;line-height: 1;cursor: pointer;
			border: none;border-radius: 0;box-shadow: none;transition: box-shadow .2s;transform: rotate(90deg);
			&::before, &:after {
				content: '';position: absolute;
			}
			&::before {
				top: 50%;left: 5px;width: 8px;height: 8px;margin-top: -6px;
				background-image: linear-gradient(135deg, transparent 50%, #000 55%, #000 100%);
			}
			&::after {
				width: 44px;height: 2px;left: 8px;top: 50%;background-color: $black;
			}
			&:hover {
				box-shadow: $primaryColor 0 0 5px 1px;
				background-color: rgba(255, 255, 255, .6);
			}
			&:focus {
				box-shadow: $primaryColor 0 0 0 1px;
			}
			&.closed {
				transform: rotate(270deg);
			}
		}
		.fatFooter {
			display: block; padding: 10px 0;
		}
		// 二層網站架構
		.siteTree {
			margin: 0 auto;padding: 30px 0;width: 90%;
			background-color: $white;box-shadow: $shadowColor 0 0 50px;
			ul {
				list-style: none;margin: 0 4.5%;padding: 0;
			}
			&>ul {
				display: flex;flex-flow: row wrap;line-height: 1.4;
				a {
					display: block;text-decoration: none;color: $fontColor;transition: .2s;
				}
				&>li {
					flex: 1 1 18%;margin: 1em 1% 0;
					&>a {
						padding: 5px 0 0;font-weight: bold;border-bottom: 2px solid transparent;
						&:hover,&:focus {
							border-bottom-color: $fontColor;
						}
					}
					&>ul {
						margin: 1.2em 0 2em;
						&>li {
							margin: 0 0 1em;
							&>a {
								position: relative;padding-right: 12px;border-bottom: 1px solid transparent;
								&::before {
									content: '';position: absolute;left: 1px;top: .45em;width: 0;height: 6px;
									background-color: $primaryColor;transition: .2s;
								}
								&:hover,
								&:focus {
									border-bottom-color: $primaryColor;padding-left: 12px;padding-right: 0;
									&::before {
										width: 6px;
									}
								}
							}
						}
						ul {
							display: none;
						}
					}
				}
			}
		}
		// base ////////////////////////////////////////////////////////////
		.base {
			position: relative;display: flex;flex-wrap: wrap;
			width: 90%;margin: 40px auto 0;padding: 10px 0 30px;
			text-align: left;border: none;
		}
		.leftblock {
			flex: 0 0 64%;
			.logo {
				position: absolute;left: 0;
				img {display: block;width: 250px;}
			}
			// 聯絡資訊
			.contactInfo {
				margin: 0 10px 0 270px;
				&>span {
					display: block;margin: 0;
					&+span {margin-left: 0;}
				}
			}
			// 更新日期 與 瀏覽次數
			.update {margin: .5em 10px 0 270px;}
		}
		.rightblock {
			flex: 0 0 36%;
			display: flex; flex-flow: row nowrap; justify-content: flex-end;
			.qrcode_block {
				span {
					margin-right: 3px;
					a {
						img {
							width: 80px; // qrcode 圖檔
						}
					}
				}
			}
			// 無障礙標章
			.aaBadge {
				display: block; flex: 0 0 auto; margin-left: 5px;
				width: 45%;max-width: 150px;
				img {
					display: block;width: 100%;transition: .2s;
				}
				a {
					display: block;
					&:hover, &:focus {
						img {
							box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 3px;
						}
					}
				}
			}
		}
		// 宣告連結
		.declaration {
			flex: 1 1 100%;display: flex;justify-content: space-between;
			margin: 2em 0 1em;padding: 1em 0 0;
			border-top: 1px solid $borderColorDark;
		}
		.copyright {
			display: block;padding: 1em 0 0;margin: 0;text-align: right;
		}
	}
	@media screen and (min-width: $wwMaximum) {
		width: $wwMaximum;
		.declaration { margin-right: 0;}
	}
}